//tools
@import "_misc/mixins";
@import "_misc/normalize";

.content_contacts {

  height: 63vh;

  & .section__title {
    text-align: center;
  }

  & .fa {
    width: 22px;
    color: #092772;
  }

}

.contacts__info {
  font-size: 19px;
  font-weight: 300;
  margin-left: 20%;
  margin-bottom: 10%;
  margin-top: 5%;
  color: #34636f;
}

.fa-mobile {
  font-size: 24px;
}

.fa-envelope-o {
  font-size: 19px;
  margin-right: 10px;
}

.fa-phone {
  font-size: 20px;
}

.phones p, .email p, .support {
  font-weight: 500;
}

.email i {
  margin-right: 8px;
}

.work__hours {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: -1%;

  & svg {
    width: 3vw;

    @include phones {
      width: 9vw;
    }
  }
}

.work__hours-text {
  font-weight: 600;
  margin-left: 2%;
  font-style: normal;
}