//tools
@import "_misc/mixins";
@import "_misc/normalize";

//fonts
@import "../fonts/opensans.css";
/*	Open Sans, 300, 300 italic, 400, 400 italic, 600, 600 italic, 700, 700 italic, 800, 800 italic*/
@import "../fonts/font-awesome";
@import "../fonts/font-awesome-animation";
/*
	FontAwesome, 400
*/

//vars
$header: #ffffff;
$text: #092772;
$icons: #092772;
$backslider: #b8f1ff;
$footer: #092772;

// sections
@import "partials/header";
@import "partials/footer";
@import "partials/index";
@import "partials/channels";
@import "partials/numbers";
@import "partials/partnership";
@import "partials/contacts";

*{
  @include box-sizing(border-box);
}

html{
  position: relative;
  font-size: 16px;

  @include desktop {
    font-size: 16px;
  }

  @include laptop {
    font-size: 15px;
  }

  @include tablets {
    font-size: 14px;
  }

  @include phones {
    font-size: 13px;
  }
}

html, body{
  min-height: 100%;
  font-family: Open Sans, Optima, sans-serif;
  width: 100%;
  line-height: 1.42;
}

.wrapper {

  margin: 0 auto;

  @include desktop {
    width: 970px;
  }

  @include laptop {
    width: 750px;

  }

  @include tablets {
    width: 480px;

  }

  @include phones {
    width: auto;
  }

}


body{
  background-color: #ffffff;
}

.main__block{
  min-height: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  @extend %clearfix;
  margin-bottom: -150px;
}

.empty{
  height: 150px;
}

.logo__link {
  text-decoration: none;
  color: #ecf1f9;
}

.social-fb {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
  width: 30px;
  height: 30px;
  background-position: -5px -5px;
}

.social-fb:hover {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
  width: 30px;
  height: 30px;
  background-position: -46px -5px;
}

.social-vk {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
  width: 32px;
  height: 30px;
  background-position: -86px -5px;
}

.social-vk:hover {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
  width: 32px;
  height: 30px;
  background-position: -128px -5px;
}
