.footer{
  position: relative;
  width: 100%;
  height: rem(150px);
  background-color: #34636f;
  box-shadow: 0px -1px 6px 0px rgba(0, 0, 0, 0.3);
  margin-top: rem(50px);
}

.footer__adress, .footer__support {
  position: absolute;
  color: white;
  width: 50%;
}

.footer__adress span, .footer__support span{
  display: block;
}

.footer__adress{
  top: 34%;
  left: 16%;

  @include tablets {
    left: 6%;
  }

  @include phones {
    left: 6%;
  }

}

.footer__support{
  top: 34%;
  left: 50%;
}

