.footer{
  position: relative;
  width: 100%;
  height: rem(150px);
  background-color: $footer;
  box-shadow: 0px -1px 6px 0px rgba(0, 0, 0, 0.3);
  margin-top: rem(50px);
}

.footer__adress, .footer__support {
  position: absolute;
  color: white;
  font-style: normal;
}

.footer__adress span, .footer__support span{
  display: block;
  font-style: normal;
}

.footer__adress{
  top: 34%;
  left: 30%;
  width: 25%;
  font-style: normal;

  @include laptop {
    width: 25%;
  }

  @include tablets {
    left: 6%;
  }

  @include phones {
    top: 6%;
    left: 6%;
  }

}

.footer__support{
  top: 44%;
  left: 61%;

  & a {
    display: inline;
    color: white;
    text-decoration: none;
  }

  @include phones {
    left: 38%;
  }
}

.socials__footer {
  position: absolute;
  top: 40%;
  left: 10%;
}

.socials__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.socials__item {
  display: inline-block;
  margin-right: 10px;
}



