

.content{
  float: right;
  width: 75%;

  @include tablets {
    float: none;
    width: 100%;
  }

  @include phones {
    float: none;
    width: 100%;
  }
}

.section{
  padding: 0 2% 0 4%;
  margin-bottom: 80px;
  position: relative;
}

.section__clients .content__title {
  margin-bottom: rem(50px);
}

.section__img{
  position: absolute;
  right: 5%;
  font-size: rem(30px);
  top: -2%;
  color: $icons;
}

.content__title {
  text-align: center;
  padding-right: 20%;
  margin-bottom: rem(30px);
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 26px;
}

.content__title-index {
  text-align: right;
}


.section p{
  text-align: justify;
}


.clients__list, .clients__item{
  padding: 0;
  margin: 0;
}

.clients__list{
  list-style: none;
  text-align: center;
}

.client__item{
  position: relative;
  display: inline-block;
  width: rem(248px);
  vertical-align: top;
  text-align: center;
  margin-bottom: rem(30px);
  margin-right: rem(23px);

  border: 1px solid #d8c0c0;
  height: rem(260px);
  border-radius: 25px;

  padding-top: rem(20px);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);

  & img{
    width: rem(170px);
    display: block;
    margin: 0 auto;
  }

  &:after{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(154, 153, 185, 0.1);
    border-radius: 25px;
  }

  @include phones {
    margin: 10 auto;
  }

  @include phones {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.client__logo{
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.client__title{
  margin: 0 auto;
  margin-bottom: 12px;

  text-align: center;
  width: 90%;

  font-weight: 400;
  font-size: 18px;
}

//slider

.slider {
  width: 80%;
  margin: 0 auto;

  @include tablets {
    display: none;
  }

  @include phones {
    display: none;
  }

}

.slide {
  height: 140px;
  color: $text;
  background-color: #b8f1ff;
  border-radius: 5px;
  padding: 15px;
  font-size: rem(21px);
  font-weight: 300;
  text-align: center;

  @include laptop {
    font-size: 18px;
  }

  & a {
    color: $text;
  }

  & p {
    font-size: rem(20px);
    margin-bottom: -13px;
    text-align: left;
    margin-left: 43%;
    color: $text;
    font-weight: 500;
    text-shadow: 3px 5px 5px rgba(109, 125, 41, 0.45);
  }

}

.slide_gsm {
  padding-top: 29px;

  @include laptop {
    padding-top: 15px;
  }
}

.slide__sip {
  padding-top: 35px;
}

.slide__calls {
  padding: 25px;
}

.slide__numbers {
  padding: 7px;
}

.numbers {
  margin-top: -23px;
}

.fa-usd {
  color: #ffc800;
  font-size: 38px;
}

.bx-wrapper .bx-pager, .bx-pager-link {
  display: none;
}

.bx-pager-item {
  display: none;
}

//menu

.menu{
  float: left;
  width: 24%;
  border-right: 2px solid $text;
  padding-right: 4%;
  margin-top: 2%;
  height: 370px;

  @include laptop {
    border-right: none;
  }

  @include tablets {
    display: none;

  }

  @include phones {
    display: none;
    //border-right: none;
    //float: none;
    //width: 100%;
  }
}


.nav{
  list-style: none;
  text-align: right;
  font-size: 25px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1px;
  color: $text;
  //text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  transition: all 0.5s;

  @include laptop {
    text-align: left;
  }

  & a{
    text-decoration: none;
    color: $text;
    white-space: nowrap;
  }
}

.nav-item{
  //transition: all 0.5s;
  margin-bottom: 5%;

  &-lang {
    border: 1px solid black;
    margin: 50px 0 0 60px;
    font-size: 1.2vw;
    text-align: center;
    padding: 7px 0;
    font-weight: 500;
    border-color: #1e52a5;

    @include desktop {
      font-size: 1.4vw;
    }
  }

  & i {
    display: none;
  }

  @include tablets {
    display: inline-block;
  }

  @include phones {
    display: inline-block;
  }
}

.nav-item-active{
  position: relative;
  font-weight: 500;
  //text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);

  & i {
    position: absolute;
    display: block;
    right: -13%;
    top: 12%;
    font-size: 30px;
    //text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);

    @include laptop {
      right: -52%;
    }

    @include tablets {
      display: none;
    }

    @include phones {
      display: none;
    }

  }
}

//.nav-item:hover{
//  font-weight: 400;
//  //text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
//}

.hvr-grow {

  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}


.nextbike {
  border-radius: 5px;
  background: #3432a7;
}

.client__title-utg {
  @include phones {
    font-size: 15px;
  }
}

.fa-umbrella, .fa-wrench, .fa-check-circle-o, .fa-users, .fa-question {
  font-size: rem(42px);
}

.fa-wrench {
  animation: wrench_8905 5.875s ease infinite;
  transform-origin: 90% 35%;
}

@keyframes wrench_8905 {
  0% {
    transform: rotate(-12deg)
  }
  3.40426% {
    transform: rotate(12deg)
  }
  4.25532% {
    transform: rotate(24deg)
  }
  7.65957% {
    transform: rotate(-24deg)
  }
  8.51064% {
    transform: rotate(-24deg)
  }
  11.91489% {
    transform: rotate(24deg)
  }
  12.76596% {
    transform: rotate(24deg)
  }
  16.17021% {
    transform: rotate(-24deg)
  }
  17.02128% {
    transform: rotate(-24deg)
  }
  20.42553% {
    transform: rotate(24deg)
  }
  21.2766% {
    transform: rotate(24deg)
  }
  24.68085% {
    transform: rotate(-24deg)
  }
  25.53191% {
    transform: rotate(-24deg)
  }
  28.93617% {
    transform: rotate(24deg)
  }
  31.91489% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(0deg)
  }
}

.schema__img {
  width: 1px;
  height: auto;
}





