.content__numbers {
  text-align: center;
}

.tabs {
  height: 460px;
}

.numbers__tabs {
  margin-bottom: 70px;
}

.numbers__tabs-list, .numbers__tab {
  margin: 0;
  padding: 0;
}

.numbers__tabs-list {
  list-style: none;
  padding-left: 4%;
  font-size: 0;
}

.numbers__tab {
  display: inline-block;
  vertical-align: top;
  position: relative;


  width: 25%;
  height: 200px;

  background: #e1f1f5;
  border: 1px solid #c9c9ca;
  border-radius: 20px;
  padding-bottom: 2%;
  margin-right: 4%;
  padding-top: 2%;
  font-size: 24px;
  font-weight: 300;

  transition: all 0.5s;

  &:hover {
    background: #2f4288;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    border: none;

    & h3 {
      color: #e1f1f5;
    }

  }
}

.provider__logo {
  width: 90px;
  margin: 0 auto;

  & img {
    display: block;
    max-width: 100%;
    border-radius: 15px;
  }
}

.numbers__tab h3 {
  font-size: 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  font-weight: 500;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  color: #3432a7;
}

.numbers__tab-link {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.numbers__content-list, .numbers__content-item {
  margin: 0;
  padding: 0;
}

.numbers__content-list {
  text-align: justify;
  list-style: none;
  width: 80%;
  margin-left: 10%;
}

.fa-caret-up {
  display: none;
}

.numbers__tab-active {
  position: relative;
  background: #2f4288;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
  border: none;

  & h3 {
    color: #e1f1f5;
  }

  & .fa-caret-up {
    display: block;
    position: absolute;
    top: 91%;
    left: 40%;
    font-size: 78px;
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.6);
    transition: all 0.5s;
  }

}

.numbers__content-item {
  display: none;
  //height: 250px;
}

.numbers__content-item-active {
  display: block;
  //height: 250px;
  margin-bottom: 10%;
}

.same__numbers {
  text-align: justify;
  margin-left: 10%;
  width: 82%;
  border-top: 1px solid black;
  padding-top: 3%;

}

.same__numbers-block {
  width: 45%;
  border: 1px solid #3432ab;
  margin-left: 29%;
  font-size: 25px;
  color: black;
  margin-top: 5%;
  padding-left: 11%;
  border-radius: 73px;
  margin-bottom: 5%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}



