.section__title-partner {
  text-align: center;
}

.partner__content {
  float: left;
  text-align: justify;
  width: 68%;
  margin-left: 10%;
}

.partner__img {
  margin-right: 6%;
  float: right;
  width: 10%;

  & img {
    max-width: 100%;
    margin-bottom: 80px;
    margin-top: 20px;
  }
}
